<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
   <a href = "gacha"class="square_btn">がちゃ</a>
   <a href = "characters"class="square_btn">きゃら</a>
   <a href = "deckManeger"class="square_btn">へんせい</a>

  </body>
</html>
